body{
    font: normal 14px/1em 'PT Sans';
    color: #333;    
    width:100%;
    text-transform: uppercase;        
    overflow-y: scroll;
    background: #f2f2f2;
}

.page {
    max-width: 1200px;
    min-width: 768px;
    box-shadow: 1px 0 11px 2px #dbdbdb;
    background: #ffffff;
    margin: 0 auto;
    position: relative;    
}

/* контейнер */
.layout {
    padding: 0 6% 0; /* 72px padding*/
    border-top:1px solid transparent;    
}


/* Заголовки */

h1{
    font:bold 21px/1.2em 'PT Sans';
    color: #000;   
    text-transform: uppercase;  
    margin-bottom: 35px;
}


h2{
    font: normal 14px/1.0em 'PT Sans';
    color: #333;        
    text-transform: uppercase;
    margin-bottom: 58px;
}

h3 {    
    font: bold 21px/24px 'PT Sans';
    text-align: center;    
}


h4 {    
    font: normal 30px/1.0em 'PT Sans';
    font-weight: bold;    
    text-align: center;
}

/* главное меню */

.header__navigation{
    position: relative;
}

.header__navigation a{
    text-decoration: none;
    color: black;
}

.header__navigation ul{
    margin: 0;
    padding: 0;
}

.header__navigation ul li{ /* список 1200-72*2 =  1056   */
    display: block;
    font:bold 14px/1em 'PT Sans';  
    width: 20%;    
    padding:21px 0; 
    box-sizing: border-box;
}

.header__navigation ul li:first-child,
.header__navigation ul li:nth-child(2){
    float:left;
    text-align: left;
    margin-right:30px;      
}

.header__navigation ul li:nth-child(3),
.header__navigation ul li:last-child{
    float:right;
    text-align: right;
    margin-left:30px;   
}


/* распорка */

.clearfix::after {
    clear:both;
    content: '';
    display: table;
}

/* картинки в шапке */

.header__banner {
    background: url(../img/bg_image_mask.png) 50% 100% no-repeat,
                url(../img/bg_header.jpg) 50% -83px  no-repeat;
                height: 508px;
    margin-bottom: 58px;
}    

.layout-banner {
    border-top:1px solid transparent;        
    padding-top:76px;
    text-align: center;      
}

.layout-form{
    border-top:1px solid transparent;        
    padding-top:15px;
    text-align: center; 
    width: 490px;
    margin: 0 auto;
    font: normal 14px/24px 'PT Sans';
    margin-bottom: 130px;
}

.layout-form h4{
    margin-bottom: 30px;
}

.header-banner{ 
    margin: 0 auto;    
    text-align: center;    
    width: 490px;
}


.layout-banner .img{
    display: block;
    margin:0 auto;  
    height: 72px;    
}


.layout-banner img:first-child{
    margin-bottom: 14px;
}

.layout-banner img:nth-child(2){
    margin-bottom: 51px;
}

.layout-banner img:nth-child(3){
    margin-bottom: 61px;
}

/* отступы для заголовков и абзацев */

.layout-banner h1,
.layout-banner h4{
    margin-bottom: 40px;
}

.layout-banner p{
    margin-bottom: 140px;
}


 img.logo {
    position: absolute;
    top:0;
    left: 50%; /* смещение с левого края пол экрана */
    transform: translate(-50%,0);
}

.main-header {
    position:relative;
}

/* основные сервисы которые предлагаются в найденном жилье */

.layout-block{
    width: 23.1%;    
    text-align: center;      
    padding:0 5.1%;
    font: normal 14px/21px 'PT Sans';
    position: relative;
    height: 220px;
}

.advantage__column-1.layout-block h3,
.advantage__column-2.layout-block h3{
    margin-bottom: 26px;    
}

.layout-block .advantage__num{
    margin-bottom: 18px;
}

.main__services {
    margin:0;
    padding:0;
    margin-bottom: 50px;
}

.main__services>div{
    float: left;
    padding-top: 60px;
}

.main__services div:last-child{
    margin-right: 0;        
}


/* блок преимущества */


.main__advantage-1,
.main__advantage-2{
    background: #81b3d2;
    color:white;  
    text-align: center;
    position: relative;
}

.main__advantage-1 .advantage__column-1,
.main__advantage-2 .advantage__column-2{
    padding-top: 32px;
}

/* упорядочивание блоков преимуществ */

.main__advantage-1 .advantage__column-1,
.main__advantage-2 .advantage__column-1{
    float: left;
}

.main__advantage-1 .advantage__column-2,
.main__advantage-2 .advantage__column-2{
    float: right;
    width: 66.66%;
}

.main__advantage-1 .advantage__column-1, 
.main__advantage-2 .advantage__column-2{
    
    width: 23.1%; 
}

.main__advantage-1 .advantage__column-2,
.main__advantage-2 .advantage__column-1{    
    width: 66.66%;        
}

/* блок остальные преимущества */
.main__other_advantages{
    background-color: #eeeeee;  
    position: relative;
    padding-bottom: 30px;
}

.main__other_advantages>div{
    float: left;  
    text-align: center;  
}

.main__other_advantages>div:last-child{
    margin-right:none;
}

.other_advantage_column.layout-block h3 {
    padding: 0 21%;
    padding-top:23px;    
    margin-bottom:21px;
}



/* оформляем часть главной страницы с формой */
.main__map{
    background-image: url(../img/bg_map.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.main__search-hotel {
    position: relative;
}

/* Оформление формы */

.search-hotel__form {
    position: absolute;
    /* фиксированная ширина формы */
    width: 568px;
    height: 500px;
    top:185px;
    left:50%;
    transform: translate(-50%,0);
    background: #fff;
    font: bold 14px/1em 'PT Sans';
    
}

.search-hotel__form h3{    
    background: #766357;
    color: white;
    padding: 32px 0;
}

.search-hotel-layout {
    margin: 52px 55px;    
}

.search-hotel-layout input[type="submit"]{
    font: bold 21px/1em 'PT Sans';
    padding: 18px 0;
    text-align: center;
    color: white;
    background: #81b3d2; 
    width: 100%;
    text-transform: uppercase;
}


.people-quantity__adult{
    float: left;    
}

.people-quantity__adult {
    float: left;
}

.people-quantity__child {
    float: right;
}

.people-age__value {
    background: #f2f2f2;
    width: 114px;
}

.people-quantity__controls input[type="button"]{
    border:0;       
    background-color: #f2f2f2; 
    padding: 8px 13px;
    color: #a9a9a9;    
}

.people-age__value {
    border: none;
    background-color: #f2f2f2;    
    text-transform: uppercase;
    font: bold 14px/26px 'PT Sans'; 
    text-align: left;
    padding: 4px 13px;
    width: 10px;    
}

/* поля даты */ 
.search-hotel-layout label{
    display: inline-block;
    margin-right: 15px;  
    width: 96px;
    text-align: left;
}

/* поля величина дней */
.people-quantity__child label{
    display: inline-block;
    margin-right: 17px;  
    width: 40px;
    text-align: left;
}

.search-hotel-layout .date{
    width: 313px;
    border: none;
    background-color: #f2f2f2;
    font: bold 14px/26px 'PT Sans';  
    text-align: left;
    padding: 6px 15px;
    text-transform: uppercase;
    margin-bottom: 29px;
}


.people-quantity__controls {
    background: #f2f2f2;
    padding: 8px 5px;        
}

.people-quantity__controls::last-child{
    margin:0 !important;
}


.search-hotel__people-quantity {
    margin-top: 7px;
    margin-bottom: 54px;
}


/* оформляем подвал */

.main__footer.absolute {
    position: absolute;
    background-color: rgba(249, 251, 249, 0.9);
    z-index: 500;
    width: 100%;        
    bottom:0;  
    
}

.layout-footer{            
    text-align: center;       
}

.layout-footer>div{        
    display: inline-block;
    vertical-align: top; 
    width: 33%;    
    text-align: center;
}

.layout-footer>div:last-child{
    mergin-right: 0;
    
}

.main-footer__hashtag { 
    padding: 49.5px 0; 
}

.main-footer__hashtag h3{
   margin: 0;
}

.main-footer__social {
    padding: 36px 0;
}

.main-footer__social i{
    display: inline-block;
    width: 46px;
    height: 48px; 
    margin-right: 3px;
}

.main-footer__social i:last-child{
    margin-right: right;
}

.copyright {  
    padding: 40.6px 0;    
    position: relative;
}

.copyright span{
    position: absolute;
    left:35%;
    top:49%;
    transform: translate(-50%, -50%);
}

.copyright a{
    padding-left: 83px;
}


.twitter-ico {
    background: url(../img/icon-twitter.png) no-repeat; 
    background-size: 46px 48px;
}

.fb-ico {
    background: url(../img/icon-facebook.png) 50% 50% no-repeat;
    background-size: cover;
}

.youtube-ico {
    background: url(../img/icon_yootube.png) 50% 50% no-repeat;
    background-size: cover;    
}




/* Оформление страницы inner.html
 Форма с контроллерами  */

.header__form {
    background: url(../img/bg_header_catalog.jpg) 0 -294px no-repeat;
    border-top: 1px solid transparent;
    color: white;
    font: normal 14px/1.0em 'PT Sans'; 
    height: 217px;
}

.layout-control {
    margin: 0 6%; /* 72px по бокам*/
    padding: 25.5px 0;
}

.filter__infrastructure,
.filter__housing-type {
    float: left;
    margin-right: 8.5%; /* 113px */
    border: 0;  
    padding: 0;
}

.filter__infrastructure input[type="checkbox"],
.filter__housing-type input[type="checkbox"]{
    margin-bottom: 24px;
}

.filter__infrastructure legend,
.filter__housing-type legend {        
    font: bold 16px/18px  'PT Sans';
    margin-bottom:30px;
    text-align: right;
}


.main__view-control div{
    display: inline-block;    
}

.main__view-control div:last-child{
    margin-right: 0;     
}

/* сортировка  */

.main__view-control .sort{
    font: normal 12px/12px 'PT Sans';
    width: 84.3%;
}

.main__view-control .sort div:first-child{
    margin-right: 3.3%;
}

.view-control__found {
    font: bold 21px/24px 'PT Sans';
    padding: 32.5px 0; 
    margin-right:4%;
}

.sort__rules {
    float: right;
}

.sort__rules i{
    display: inline-block;
}

.sort__rules i:first-child{
    margin-right:11px;
}

.up-icon {
    background: url(../img/icon_up.png) no-repeat;
    width: 11px;
    height: 10px;
}

.down-icon {
    background: url(../img/icon_down.png) no-repeat;
    width: 11px;
    height: 10px;
}
/* ----------  */


.header__form .cost {
    float: right;   
    text-align: center;
    font: normal 14px/1.0em 'PT Sans';
}

.header__form .cost input[type="submit"] {
    text-align: center;
    padding: 5px;        
    padding: 5px;        
}

/* Обрабатываем каталог */

/* табличная часть рейтинга */
.main__found-housing {
    padding: 15px 0;
    margin-bottom: 50px;             
}

.main__found-housing a{
    color: black;
    text-decoration: none;
}

.found-housing__row {       
    position: relative; 
    display: table;
}

.found-housing__preview,
.found-housing__details,
.housing__item__rating{
   display : table-cell; 
   vertical-align : middle;
   text-align : left;    
   padding: 30px 6%;
   border-top:  1px solid #e5e5e5;
}

.found-housing__preview{
   width : 11.25%;  
   text-align: left;
   padding-right: 1.33%;
}

.found-housing__details{
    width: 78.07%;
}

.found-housing__details a{
    margin:0 !important;
}


.found-housing__details h3{
    text-align: left;
    margin-top:0;
    margin-bottom:18px;
}

.housing__item__rating{
    width: 9.33%;   
    text-align: right;
    position: relative;     
}


/* контейнер для детальки жилья */
.layout-found-housing {    
    margin:0;
    display: inline-block;        
}


.housing__item__type {
    margin-right: 39px;    
}

.housing__item__type,
.housing__item__cost
{
    font: normal 14px/14px 'PT Sans';        
    color: #333333;
    display: inline-block;
    margin-bottom: 20px;
    
}

.housing__item__cost {
    margin-right:0;    
}


.housing__item__rules a{
    padding: 6.5px 17px;
    color: white;
    display: inline-block;
}

.found-housing-column1, 
.found-housing-column2{
    display: inline-block;
}

.found-housing-column1{
    width: 111px;
}

.found-housing-column2{
    margin-right:0;    
}

.found-housing-column1 a, 
.found-housing-column2 a{
    padding: 6.5px 17px;
    color: white;
    display: inline-block;
}


.found-housing-column1 a{
    background: #81b3d2;    
}

.found-housing-column2 a{
    background: #766357;
    margin-right:0;
}

.housing__item__rating .rating__stars {
    position: absolute;
    top:30px;
    right:0;
    font: normal 19px/21px 'PT Sans';
    color: #81b3d2;
    marging-bottom: 47px;
    
}

.housing__item__rating .rating__value {
    position: absolute;
    bottom:30px;
    right:0;  
    font: normal 14px/14px 'PT Sans';
    color: #666666;
    padding: 6.5px 17px;
    background: #f2f2f2;
    
}



/* визуальные отображения объектов */

.l1{
    outline: 1px solid blue;
    background-color: rgba(23,79,240,0.1);
}

.l2{
    outline: 1px solid green;
    background-color: rgba(43,150,18,0.1);
}

.l3{
    outline: 2px solid red;
    background-color: rgba(224,45,45,0.1);
}

.l4 li{
    outline: 2px dashed pink;
    background-color: rgba(252,115,234,0.1);
}

.l5, .l5 img{
    outline: 2px dashed yellow;
    background-color: rgba(231,248,45,0.2);
}

.l6{
  outline: 2px dashed #0ef455;  
}
.catalog-layout {
    padding: 0;
}
