body{    
	font: normal 14px/1em 'PT sans Regular',sans-serif;	
	color: #333;	
}


h1{     
	font: bold 21px/1em 'PT sans Bold',sans-serif;		
	color: #000;   
    text-transform: uppercase;	
}


h2{ 
	font: normal 14px/1em 'PT sans Regular',sans-serif;	
	color: #333;   
    text-transform: uppercase;
}